<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MCS.My.MySettings.CLINICSQLhConnectionString" connectionString="Data Source=SERVER1\SQLEXPRESS;Initial Catalog=CLINICSQLh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <MCS.My.MySettings>
            <setting name="activ" serializeAs="String">
                <value>FFFFFFFFA8E30875</value>
            </setting>
            <setting name="activ1" serializeAs="String">
                <value>FFFFFFFFE0B3A2CB</value>
            </setting>
        </MCS.My.MySettings>
    </applicationSettings>
    <userSettings>
        <MCS.My.MySettings>
            <setting name="CLIN" serializeAs="String">
                <value>منظومة مركز طبي</value>
            </setting>
            <setting name="NOTES" serializeAs="String">
                <value />
            </setting>
            <setting name="TEL" serializeAs="String">
                <value>حي الزيتونة بجوار بن ساسي
0920241976
0695642056</value>
            </setting>
            <setting name="activ2" serializeAs="String">
                <value>FFFFFFFF94FD4916</value>
            </setting>
            <setting name="printerx1" serializeAs="String">
                <value />
            </setting>
            <setting name="printerx2" serializeAs="String">
                <value />
            </setting>
        </MCS.My.MySettings>
    </userSettings>
</configuration>
